html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  border: none;
}

* {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

body {
  background-color: #f7f7f7;
  margin: 0 auto;
  max-width: 1840px;
  width: 100%;
}

nav {
  position: relative;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  background-color: #f7f7f7;
  margin-left: 3.5rem;
  margin-right: 3.5rem;
  margin-top: 2.875rem;
}

@media (max-width: 900px) {
  nav {
    margin-right: 3rem;
    margin-left: 3rem;
  }
}

@media (max-width: 775px) {
  nav {
    margin-right: 2rem;
    margin-left: 2rem;
  }
}

@media (max-width: 560px) {
  nav {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (max-width: 400px) {
  nav {
    margin-top: 2rem;
  }
}

img {
  height: auto;
  width: 100%;
}

nav div a {
  font-size: 1rem;
  color: #4d4d4d;
  text-align: center;
  font-weight: 400;
  width: max-content;
}

a.pullRight:before {
  position: absolute;
  width: 0px;
  height: 50%;
  left: -0.1875rem;
  top: 0.625rem;
  content: "";
  background: #5d89f5;
  opacity: 0.67;
  transition: all 0.3s;
  z-index: 1;
}

a.pullRight:hover:before {
  width: 50px;
  z-index: 1;
}

#Resume {
  margin-right: 2rem;
  margin-left: 2rem;
}

@media (max-width: 560px) {
  #Resume {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
}

@media (max-width: 375px) {
  #Resume {
    margin-right: 0.25rem;
    margin-left: 0.25rem;
  }
}

main {
  background-color: #f7f7f7;
  max-width: 1840px;
  width: 100%;
}

.hero {
  max-width: 1840px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

#name {
  font-size: 23vw;
  color: #4d4d4d;
  letter-spacing: 0.6644rem;
  line-height: 5.5rem;
  text-align: center;
  padding: 0px;
  margin-top: 150px;
  margin-bottom: 130px;
  font-weight: 500;
}

@media (min-width: 1440px) {
  #name {
    font-size: 20.625rem;
  }
}

@media (max-width: 1050px) {
  #name {
    /* font-size: 15rem; */
    letter-spacing: 0.55rem;
  }
}

@media (max-width: 900px) {
  #name {
    /* font-size: 12rem; */
    letter-spacing: 0.3rem;
    margin-top: 130px;
    margin-bottom: 115px;
  }
}

@media (max-width: 680px) {
  #name {
    /* font-size: 10rem; */
    letter-spacing: 0.2rem;
  }
}

@media (max-width: 560px) {
  #name {
    /* font-size: 8rem; */
    letter-spacing: 0.15rem;
    margin-top: 100px;
    margin-bottom: 90px;
  }
}

@media (max-width: 400px) {
  #name {
    /* font-size: 4rem; */
    letter-spacing: 0.1rem;
    margin-top: 50px;
    margin-bottom: 45px;
  }
}

.hero h3 {
  color: #002d9c;
  font-size: 1.3125rem;
  margin-left: 3.5rem;
  /* margin-left: 6.0625rem; */
  margin-bottom: 45px;
  font-weight: 300;
}

@media (max-width: 1050px) {
  .hero h3 {
    font-size: 1.125rem;
    /* margin-left: 4.375rem; */
  }
}

@media (max-width: 900px) {
  .hero h3 {
    font-size: 1.0313rem;
    margin-left: 48px;
  }
}

@media (max-width: 775px) {
  .hero h3 {
    margin-left: 32px;
  }
}

@media (max-width: 680px) {
  .hero h3 {
    font-size: 0.9375rem;
  }
}

@media (max-width: 560px) {
  .hero h3 {
    font-size: 0.8438rem;
    margin-left: 16px;
  }
}

@media (max-width: 400px) {
  .hero h3 {
    margin-bottom: 30px;
  }
}

#arrow {
  position: absolute;
  top: 400px;
  width: 4.375rem;
  height: auto;
  margin-left: 5rem;
  z-index: 99;
}

/* #arrow:hover {
  transform: scale(2);
} */

@media (max-width: 1050px) {
  #arrow {
    width: 60px;
    margin-left: 76px;
  }
}

@media (max-width: 900px) {
  #arrow {
    width: 55px;
    margin-left: 68px;
    top: 369px;
  }
}

@media (max-width: 775px) {
  #arrow {
    margin-left: 52px;
  }
}

@media (max-width: 680px) {
  #arrow {
    width: 50px;
    margin-left: 50px;
  }
}

@media (max-width: 560px) {
  #arrow {
    width: 45px;
    margin-left: 30px;
    top: 313px;
  }
}

@media (max-width: 400px) {
  #arrow {
    width: 40px;
    margin-left: 30px;
    top: 208px;
  }
}

.hero p {
  color: white;
  font-size: 1.625rem;
  letter-spacing: 1.84px;
  line-height: 2.5rem;
  width: 472px;
  height: 10rem;
  margin-left: 3.5rem;
  padding-top: 5.875rem;
  font-weight: 400;
}

@media (max-width: 1050px) {
  .hero p {
    font-size: 1.2rem;
    letter-spacing: 1.3px;
    line-height: 30px;
    width: 410px;
  }
}

@media (max-width: 900px) {
  .hero p {
    font-size: 1rem;
    letter-spacing: 1.1px;
    line-height: 25px;
    width: 380px;
    margin-left: 48px;
  }
}

@media (max-width: 775px) {
  .hero p {
    display: none;
  }
}

@media (max-width: 560px) {
  .hero p {
    display: none;
  }
}

#UVP-short {
  display: none;
  color: white;
  font-size: 1rem;
  width: 472px;
  height: 10rem;
  line-height: 25px;
  width: 275px;
  margin-left: 97px;
  padding-top: 5.875rem;
  font-weight: 400;
}

@media (max-width: 775px) {
  #UVP-short {
    display: inline-block;
    letter-spacing: 1px;
    margin-left: 32px;
  }
}

@media (max-width: 560px) {
  #UVP-short {
    letter-spacing: 0.6px;
    margin-left: 16px;
  }
}

#UVP {
  background-color: #517de6;
  max-width: 100vw;
  width: 100%;
  height: 463px;
}

@media (max-width: 1200px) {
  #UVP {
    height: 400px;
  }
}

@media (max-width: 900px) {
  #UVP {
    height: 350px;
  }
}

@media (max-width: 775px) {
  #UVP {
    height: 300px;
  }
}

#zeke {
  position: absolute;
  width: 683px;
  z-index: 99;
  top: -125px;
  right: 0;
}

@media (max-width: 1200px) {
  #zeke {
    top: -123px;
    width: 640px;
    right: -33px;
  }
}

@media (max-width: 1050px) {
  #zeke {
    top: -126px;
    right: -40px;
  }
}

@media (max-width: 900px) {
  #zeke {
    top: -75px;
    width: 580px;
    right: -100px;
  }
}

@media (max-width: 775px) {
  #zeke {
    top: -80px;
    width: 540px;
    right: -140px;
  }
}

@media (max-width: 680px) {
  #zeke {
    top: -53px;
    width: 500px;
  }
}

@media (max-width: 560px) {
  #zeke {
    top: -34px;
    width: 450px;
    right: -180px;
  }
}

@media (max-width: 400px) {
  #zeke {
    top: -100px;
    width: 450px;
    right: -200px;
  }
}

.case-studies h1 {
  font-size: 2.25rem;
  color: #002d9c;
  letter-spacing: 0.0525rem;
  font-weight: 400;
  margin-left: 3.5rem;
  margin-top: 8.75rem;
}

@media (max-width: 900px) {
  .case-studies h1 {
    font-size: 2rem;
  }
}

@media (max-width: 775px) {
  .case-studies h1 {
    margin-left: 32px;
  }
}

@media (max-width: 560px) {
  .case-studies h1 {
    font-size: 1.75rem;
    margin-left: 16px;
    margin-top: 80px;
  }
}

.case-studies h2 {
  font-size: 1.5rem;
  color: #4d4d4d;
  letter-spacing: 0.0631rem;
  font-weight: 400;
  margin-left: 3.5rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

@media (max-width: 900px) {
  .case-studies h2 {
    font-size: 1.3125rem;
    margin-top: 21px;
    margin-bottom: 28px;
  }
}

@media (max-width: 775px) {
  .case-studies h2 {
    margin-left: 32px;
  }
}

@media (max-width: 560px) {
  .case-studies h2 {
    font-size: 1.125rem;
    margin-top: 18px;
    margin-bottom: 24px;
    margin-left: 16px;
  }
}

/* add button hover states */

.case-studies button {
  background: #517de6;
  border-radius: 0.125rem;
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: #ffffff;
  letter-spacing: 0.0187rem;
  padding: 1rem 2.5313rem;
  font-weight: 400;
  margin-left: 3.5rem;
  margin-bottom: 5.625rem;
}

@media (max-width: 900px) {
  .case-studies button {
    font-size: 1.3125rem;
    letter-spacing: 0.0187rem;
    padding: 0.75rem 2rem;
  }
}

@media (max-width: 775px) {
  .case-studies button {
    margin-left: 32px;
  }
}

@media (max-width: 560px) {
  .case-studies button {
    font-size: 1.125rem;
    letter-spacing: 0.0187rem;
    padding: 0.75rem 2rem;
    margin-left: 16px;
    margin-bottom: 90px;
  }
}

.case-studies button:hover {
  cursor: pointer;
  border: 2px solid #517de6;
  border-radius: 2px;
  background: #fff;
  color: #517de6;
  letter-spacing: 0.0187rem;
  padding: 14px 38.5008px;
}

@media (max-width: 900px) {
  .case-studies button:hover {
    font-size: 1.3125rem;
    letter-spacing: 0.0187rem;
    padding: 10px 30px;
  }
}

@media (max-width: 560px) {
  .case-studies button:hover {
    font-size: 1.125rem;
    letter-spacing: 0.0187rem;
    padding: 10px 30px;
    margin-left: 16px;
    margin-bottom: 90px;
  }
}

.case-studies img {
  /* width: 83rem; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 3.5rem;
  margin-left: 3.5rem;
  margin-bottom: 2rem;
  margin-top: 12.5rem;
  z-index: 1000;
}

@media (max-width: 680px) {
  footer {
    margin-top: 6.25rem;
  }
}

@media (max-width: 560px) {
  footer {
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
}

#email {
  font-size: 1rem;
  color: #4d4d4d;
  text-decoration: none;
}

.dribbble {
  margin-right: 2rem;
  margin-left: 2rem;
}

@media (max-width: 560px) {
  .dribbble {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

.linkedin:hover {
  fill: #007bb6;
}

.dribbble:hover {
  fill: #ea4c89;
}

.twitter:hover {
  fill: #1da1f2;
}
